*{
    background-color:#3ec11d;
   
}
.b1{
   padding:5% ; 
    margin:5% ;
   border: 5%;
   border-color: rgb(235, 247, 247);
   border-style: solid; 
}
.b2{
    
    padding:5% 5% 30% 30%;
    margin: 10%;
    border: 10%;
    border-color: azure;
    border-style: solid;
}
.b3{
    
    padding: 30% ;
    margin: 15%;
    border:15% ;
    border-color: azure;
    border-style: solid;
    
    
}
