.cards{
    display: flex;
    margin:10px 20px ;

}
.cards .card img{
object-fit: contain;
max-width: 40%;

}
.cards .card{
    border: 2px solid;
    margin: 20px 30px;
    transition: transform 420ms;
}
.cards .card:hover{
    transform: scale(1.09);
}


