*{
    background-color: #222;
    color:#fff ;
    
}
.name{
    font-size: 1rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(10px 10px 10px rgb(233, 233, 7));
    color: rgb(244, 244, 7);
   
   
    
    
}