*{
   background-color: black; 
}

.b1{
    width: 500px;
    height: 500px;
    background-color: #3ec11d;
    margin: 30%;
    padding:100px;

}
.b2{
    width: 300px;
    height: 300px;
    background-color: aqua;
    margin: 100px 100px 100px 100px;
   padding: 25px;
    
    }
    .b3{ 
    padding: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 50px;
    background-color: aliceblue;
    
}
